<!DOCTYPE HTML>
<html>
<head> 
    <title>A homepage</title> 
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
    

    <div id="auth">
        <div sec:authorize="isAnonymous()">
    <form action="/signin" method="get">
        <button type="submit" id="signinBtn">Sign In</button>
    </form>
</div>
        <div sec:authorize="isAnonymous()">
    <form action="/signup" method="get">
        <button type="submit" id="signupBtnNav">Sign Up</button>
    </form>
</div>
        <div sec:authorize="isAuthenticated()">
    <form action="/logout" method="post">
        <button type="submit" id="logoutBtn">Logout</button>
    </form>
</div>
    </div>
</div>
</body>
</html>